<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FlawHUD.Installer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <FlawHUD.Installer.Properties.Settings>
      <setting name="color_ammo_low" serializeAs="String">
        <value>#BE1414</value>
      </setting>
      <setting name="color_health_low" serializeAs="String">
        <value>#BE1414</value>
      </setting>
      <setting name="color_health_buff" serializeAs="String">
        <value>#00AA7F</value>
      </setting>
      <setting name="color_uber_bar" serializeAs="String">
        <value>#00AA7F</value>
      </setting>
      <setting name="color_uber_full" serializeAs="String">
        <value>#00AA7F</value>
      </setting>
      <setting name="color_xhair_normal" serializeAs="String">
        <value>#F2F2F2</value>
      </setting>
      <setting name="color_xhair_pulse" serializeAs="String">
        <value>#FF0000</value>
      </setting>
      <setting name="hud_directory" serializeAs="String">
        <value>\Program Files\Steam\steamapps\common\Team Fortress 2\tf\custom</value>
      </setting>
      <setting name="hud_mod_date" serializeAs="String">
        <value>03/12/2020 15:00:00</value>
      </setting>
      <setting name="hud_updated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_code_pro_fonts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_disguise_image" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_menu_images" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="toggle_stock_backgrounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_streamer_mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_transparent_viewmodels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_pulse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="val_xhair_size" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="val_xhair_x" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="val_xhair_y" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="toggle_casting_essentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_color_text" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_rotate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="val_xhair_style" serializeAs="String">
        <value>48</value>
      </setting>
    </FlawHUD.Installer.Properties.Settings>
  </userSettings>
</configuration>